@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
}

/*NAV*/

nav{
    top: 0;
    left: 0;
    width: 100%;
}

.header_nav{
    display: flex;
    align-items: center;
    background-color: rgb(192, 204, 204);
    padding: 15px;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
}

.contact_us_menu{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

nav a{
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    background-color: rgb(8, 19, 179);
    text-decoration: none;
    color: aliceblue;
    padding: 15px 20px;
    border-radius: 4px;
    width: 6.9rem;
    transition: background-color 0.4s ease;
}

nav a:hover{
    background-color:  rgb(44, 44, 44);
    color: aliceblue;
}

/*SECCION MANAGE*/

.manage{
    margin: 20px;
}

.manage h1{
    font-size: 30px;
    color: rgb(11, 17, 51);
    line-height: 1; 
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
    letter-spacing: -1px;
    width: 100%;
}

.manage h3{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1px;
    margin-bottom: 20px;
}

.btn{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 14px;
}

.free_consultation{
    font-weight: 500;
    display: inline-block;
    background-color: rgb(8, 19, 179);
    text-decoration: none;
    color: aliceblue;
    padding: 15px 20px;
    border-radius: 4px;
    width: 14rem;
    transition: background-color 0.4s ease;
}

.free_consultation:hover{
    background-color: rgb(44, 44, 44);
}

.services{
    font-weight: 700;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(8, 19, 179);
    padding: 15px 20px;
    border-radius: 4px;
    width: 6rem;
    transition: background-color 0.3s ease;
    margin-bottom: 25px;
}

.services:hover{
    background-color:  rgb(44, 44, 44);
    color: aliceblue;
}

.img_banner{
    display: flex;
    justify-content: center;
}

.img_banner img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto 0;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.781);
}

/*SECCION REVIEWED*/

.reviewed{
    margin: 20px;
}

.reviewed_items{
    margin-top: 35px;
    display: flex;
}

.reviewed_item_1 h4{
    margin-bottom: 7px;
}

.reviewed_item_2 img{
    margin-bottom: 7px;
}

.reviewed_item_2{
    margin-left: 15px;
}

.reviewed_items h4{
    color: rgb(70, 70, 70);
    font-weight: 500;
    font-size: 12px;
}

.reviewed_container_info_grid h3{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 7px;
    color: rgb(11, 17, 51);
}

.reviewed_container_info_grid {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem; 
}

.reviewed_container_info_grid div {
    padding: 1rem;
    text-align: start;
}

/*SECCION WHAT WE DO*/

.what_we_do{
    background-color: rgb(34, 34, 34);
    padding: 30px 20px;
    height: 190px;
    position: relative;
    overflow: hidden;
}

.what_we_do span{
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 10px;
    border-radius: 3px;
}

.what_we_do h3{
    font-size: 25px;
    color: antiquewhite;
    margin-top: 60px;
}

.example{
    position: absolute;
    top: 10%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 350px;
    filter: opacity(20%);
    animation: girar 90s linear infinite;
}

@keyframes girar{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}