@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
}

/*NAV*/

nav{
    top: 0;
    left: 0;
    width: 100%;
}

.nav{
    display: flex;
    align-items: center;
    background-color: rgb(192, 204, 204);
    padding: 15px;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
}

.contact_us_menu{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

nav a{
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    background-color: rgb(8, 19, 179);
    text-decoration: none;
    color: aliceblue;
    padding: 15px 20px;
    border-radius: 4px;
    width: 6.9rem;
    transition: background-color 0.4s ease;
}

nav a:hover{
    background-color:  rgb(44, 44, 44);
    color: aliceblue;
}

/*SECCION MANAGE*/

.manage{
    margin: 20px;
}

.manage h1{
    font-size: 30px;
    color: rgb(11, 17, 51);
    line-height: 1; 
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
    letter-spacing: -1px;
    width: 100%;
}

.manage h3{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1px;
    margin-bottom: 20px;
}

.btn{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 14px;
}

.free_consultation{
    font-weight: 500;
    display: inline-block;
    background-color: rgb(8, 19, 179);
    text-decoration: none;
    color: aliceblue;
    padding: 15px 20px;
    border-radius: 4px;
    width: 14rem;
    transition: background-color 0.4s ease;
}

.free_consultation:hover{
    background-color: rgb(44, 44, 44);
}

.services{
    font-weight: 700;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(8, 19, 179);
    padding: 15px 20px;
    border-radius: 4px;
    width: 6rem;
    transition: background-color 0.3s ease;
    margin-bottom: 25px;
}

.services:hover{
    background-color:  rgb(44, 44, 44);
    color: aliceblue;
}

.img_banner{
    display: flex;
    justify-content: center;
}

.img_banner img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto 0;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.781);
}

/*SECCION REVIEWED*/

.reviewed{
    margin: 20px;
}

.col{
    margin-top: 35px;
    display: flex;
}

.col1 h4{
    margin-bottom: 7px;
}

.col2 img{
    margin-bottom: 7px;
}

.col2{
    margin-left: 15px;
}

.col h4{
    color: rgb(70, 70, 70);
    font-weight: 500;
    font-size: 12px;
}

.container h3{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 7px;
    color: rgb(11, 17, 51);
}

.container {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem; 
}

.container div {
    padding: 1rem;
    text-align: start;
}
