.contact_us_category{
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 10px;
    border-radius: 3px;
}

.contact_us_banner{
    background-color: rgb(34, 34, 34);
    padding: 30px 20px;
    height: 190px;
}

.contact_us_content{
    display: flex;
    margin-top: 65px;
}

.contact_us_content h2{
    letter-spacing: .5px;
    width: 250px;
    color: rgb(255, 255, 255);
    display: flex;
}

.contact_us_info{
    margin-top: 0px;
    padding: 20px;
    background: linear-gradient(to right, #ffffff, #7de5ffaf);
}

.contact_us_info p{
    font-size: 20px;
    letter-spacing: .5px;
    line-height: 30px;
}

.contact_us_call{
    color: rgb(10, 5, 31);
    margin-top: 40px;
    font-size: 16px;
    font-weight: 600;
}

.contact_us_your_benefits{
    margin-top: 40px;
}

.contact_us_your_benefits h4{
    color: rgb(10, 5, 31); 
}

.contact_us_list_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    margin-top: 7px;
}

.contact_us_list_container li{
    margin-top: 5px;
}

.contact_us_list_item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact_us_list_item p{
    font-size: 15px;
}

.contact_us_what_happens_next{
    margin-top: 50px;
}

.contact_us_what_happens_next h4{
    color: rgb(10, 5, 31); 
}

.contact_us_what_happens_next_number{
    font-size: 18px;
    font-weight:600;
}

.contact_us_what_happens_next_list_container{
    list-style: none;
}

.contact_us_what_happens_next_list_items{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.contact_us_what_happens_next_list_items p{
    font-size: 14px;
}
