.where_we_do{
    margin: 40px 20px;
}

.where_we_do span{
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: rgb(48, 48, 49);
    background-color: rgba(194, 194, 194, 0.507);
    padding: 10px;
    border-radius: 3px;
}

.where_we_do_title{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 23px;
    color: rgb(11, 17, 51);
}

.where_we_do_cards_container{
    margin-top: 2px;
    display: flex;
    overflow: scroll;
    max-width: 100%;
    gap: 1rem;
}

.where_we_do_card{
    min-width: 320px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 10px;
    padding: 15px;
}

.where_we_do_category{
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(153, 153, 163);
    margin-top: 15px;
    line-height: 20px;
}

.where_we_do_card img{
    width: 100%;
    border-radius: 6px;
}

.where_we_do_card_subtitle{
    margin-top: 14px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 550;
    color: rgb(0, 0, 0);

}

.where_we_do_card_subtitle a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.where_we_do_card_text{
    font-size: 15px;
    width: 90%;
    letter-spacing: .2px;
    line-height: 20px;
    margin-top: 15px;
    color: #4d4d4d;
}

.where_we_do_card_checks{
    font-size: 15px;
    width: 85%;
    letter-spacing: .2px;
    line-height: 20px;
    color: #4d4d4d;
}

.where_we_do_btn_learn_more{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 14px;
}
