/*SECCION HOW WE DO*/

.how_we_do{
    padding: 50px 20px;
    background: linear-gradient(to bottom, #a7c7bfa2, #ffffff00);
}

.how_we_do h3{
    font-size: 25px;
    color: rgb(11, 17, 51);
    margin-top: 30px;
}

.how_we_do span{
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: rgb(36, 38, 68);
    background-color: rgba(255, 255, 255, 0.507);
    padding: 10px;
    border-radius: 3px;
}

.how_we_do_cards{
    margin-top: 15px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease , box-shadow 0.2s ease 0.1s;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    min-width: 300px;
    
}

.how_we_do_cards:hover{
    cursor: pointer;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.158);
    cursor: pointer;
    transform: translateY(-5px);
}

.how_we_do_cards p{
    font-size: 14px;
    color: #3b3b3b;
}

.how_we_do_cards_learn_more{
    margin-top: 40px;
    font-weight: 650;
    color: blue;
    font-size: 12px;
}

.how_we_do_cards_learn_more a{
    text-decoration: none;
    list-style: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: no-repeat;
    background-size: 0% 2px; 
    background-position: 0 100%; 
    transition: background-size 0.5s, background-position 0s 0.5s;
}

.how_we_do_cards_learn_more a:hover{
    color: #4d4d4d;
    background-size: 100% 2px; 
    background-position: 0 100%; 
}

.how_we_do_cards h4{
    margin-top: 20px;
    color: rgb(51, 51, 51);
}

.how_we_do_cards h4:hover{
    margin-top: 20px;
}

.how_we_do_cards p{
    margin-top: 20px;
}
.how_we_do_container_card{
    margin-top: 2px;
    display: flex;
    overflow: scroll;
    max-width: 100%;
    gap: 1rem;
}

.btn_how_we_do{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.btn_how_we_do a{
    font-weight: 500;
    display: flex;
    justify-content: center;
    background-color: rgb(8, 19, 179);
    text-decoration: none;
    color: aliceblue;
    padding: 15px 20px;
    border-radius: 4px;
    width: 10rem;
    transition: background-color 0.4s ease;
}