.footer_summary{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_img img{
    margin-top: 70px;
}

.btn_schedule{
    margin-top: 40px;
    font-weight: 500;
    display: flex;
    font-size: 14px;
    justify-content: center;
    background-color: #010ED0;
    text-decoration: none;
    color: aliceblue;
    padding: 12px 10px;
    border-radius: 4px;
    width: 12rem;
    text-align: center;
}

.link_subtitle_service{
    font-size: 19px;
    color: rgb(255, 255, 255);
}

.links_services{
    margin-top: 40px;
}

.links_services_lists{
    display: flex;
    gap: 40px;
    margin-top: 15px;
    margin-bottom: 45px;
}

.links_services_lists li{
    margin-top: 8px;
}

.links_services_lists a{
    font-weight: 300;
    text-decoration: none;
    color: antiquewhite;
}

.input_services{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(97, 97, 97);
    padding: 13px 15px;
    border-radius: 4px;
    width: 90%;
}

.input_services::placeholder{
    color: rgb(158, 158, 158);
}

label{
    line-height: 1px;
    color: rgb(165, 165, 165);
    font-size: 12px;
    font-weight: 200;
    width: 90%;
    gap: 5px;
    margin-bottom: 50px;
}

svg{
    fill: white;
}

.btn_send{
    margin-top: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    background-color: #010ED0;
    text-decoration: none;
    color: aliceblue;
    padding: 12px 10px;
    border-radius: 4px;
    width: 6.5rem;
    gap: 10px;
    text-align: center;
}